---
import avatar from '../assets/headshot.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="#" class="image avatar"><img src={avatar} alt="" /></a>
		<h1>
			<strong>Hi! I'm Jaelin</strong>, a Junior Software<br />
			Development Engineer<br />
			at <a href="https://www.godaddy.com/">GoDaddy</a>.
		</h1>
	</div>
</header>
